<h2>Add a new Merchant</h2>

<form action="/merchants" method="post">
  <label for="merchant">Merchant</label>
  <input id="merchant" type="text" name="name" />
  <input type="submit" value="Add this Merchant">
</form>
