<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Cash Quest</title>
  </head>
  <body>
<main>
  <h1>Cash Quest</h1>
  <nav>
    <ul>
      <li> <a href="/cash-quest">Home</a> </li>
      <li>Transactions</li>
    </ul>
  </nav>
  <section class = "content">
    <%= yield %>
  </section>
</main>
  </body>
</html>
