<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Cash Quest</title>
  </head>
  <body class="background">
<main>
  <h1><a href="/cash-quest"><img id="logo" src="logo2.png" alt="Cash Quest" onmouseover="logo.png" onmouseout="logo.png"></a></h1>
  <nav>
    <ul>
      <li> <a href="/cash-quest">Home</a> </li>
      <li> <a href="/cash-quest/new">New Transaction</a> </li>
    </ul>
  </nav>
  <section class = "content">
    <%= yield %>
  </section>
</main>
  </body>
</html>
