<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=1.1">
    <title>Cash Quest</title>
  </head>
  <body class="background">
<main>
  <a href="/transactions"><img id="logo" src="<%= url('logo.png') %>" alt="Cash Quest"/></a>
  <nav>
    <ul>
      <li> <a href="/transactions">Home</a> </li>
      <li> <a href="/tags">Categories</a> </li>
      <li> <a href="/merchants">Merchants</a> </li>
      <li> <a href="/transactions/new">New Transaction</a> </li>
    </ul>
  </nav>
  <section class = "content">
    <%= yield %>
  </section>
</main>
  </body>
</html>
