<p>Amount: <%= @transaction.amount %> </p>
<p>Merchant: <%= @transaction.merchant.name %> </p>
<p>Category: <%= @transaction.tag.type %> </p>

<p> <a href="/cash-quest/<%= @transaction.id %>/edit">Edit Transaction</a> </p>
