body {
  font-family: 'MedievalSharp', cursive;
  font-size: 120%;
  text-align: center;
}

.background {
  background-image: url("/images/scroll_background.jpg");
  background-size: cover;
  height: 100%;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  display: inline;
  padding: 0.5rem;
  font-weight: bold;
  color: maroon;
}

a {
  text-decoration: none;
  color: maroon;
}

a:hover {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: url('/images/cursor.cur'), auto;
}

.content {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
th {
  text-decoration: underline;
}

td {
  padding: 0 1em 0 1em;
}

input {
  float: none;
  border: 2px solid maroon;
  border-radius: 5px;


}

input[type=submit] {
  display: inline-block;
  align-items: center;
  border: 2px solid maroon;
  border-radius: 5px;
  color: maroon;
}

input[type=submit]:hover {
  display: inline-block;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  background: maroon;
  color: white;
}

select {
  border: 2px solid maroon;
}

label {
  padding-top: 1em;
  padding-bottom: 0.25em;
  display: block;
}

#bottom-links {
  padding-top: 1em;
}
