body {
  font-family: 'MedievalSharp', cursive;
  font-size: 120%;
  text-align: center;
}

.background {
  background-image: url("scroll_background.jpg");
  background-size: cover;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  display: inline;
  padding: 1rem;
  font-weight: bold;
  color: maroon;
}

a {
  text-decoration: none;
  color: maroon;
}

a:hover {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: url('cursor.cur'), auto;
}

.content {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 0 1em 0 1em;
}

button :disabled :hover {
  
}
