<h2>Edit Category</h2>

<form action="/categories/<%= @category.id %>" method="post">
  <label for="category">Category</label>
  <input id="category" type="text" name="type" value="<%= @category.type %>"/>
  <input type="submit" value="Change Category Name" >
</form>

<p> <a href="/categories">Back to Categories</a> </p>
