<h2>Add a new Category</h2>

<form action="/categories" method="post">
  <label for="category">Category</label>
  <input id="category" type="text" name="type" />
  <input type="submit" value="Add this Category">
</form>
