<h2>Add a new Category</h2>

<form action="/tags" method="post">
  <label for="tag">Category</label>
  <input id="tag" type="text" name="type" />
  <input type="submit" value="Add this Category">
</form>
