<h2>New Transaction</h2>

<form action="/transactions" method="post">

  <label for="amount">Amount: </label>
  <input id="amount" type="number" name="amount" min="0" required/>

  <label for="merchant" type="text" name="merchant">Merchant: </label>
  <select id="merchant" name="merchant_id" required>
    <option value="">-Select Merchant-</option>
    <% @merchants.each do |merchant| %>
    <option value=<%= merchant.id %>><%= merchant.name %></option>
    <% end %>
  </select>

  <label for="category">Category: </label>
  <select id="category" name="category_id" required>
    <option value="">-Select Category-</option>
    <% @categories.each do |category| %>
    <option value=<%= category.id %>><%= category.type %></option>
    <% end %>
  </select>

  <input type="submit" value="Add this transaction">

</form>

<p> <a href="/merchants/new">Add New Merchant</a>  | <a href="/categories/new">Add New Category</a></p>
